<div>
  <h2 *ngIf="!joggingInfo || joggingInfo.id === undefined">Add record</h2>
  <h2 *ngIf="joggingInfo && joggingInfo.id !== undefined">Update record (ID: {{joggingInfo.id}})</h2>
  <form>
    <div class="form-group">
      <label for="date-input">Jogging date:</label>
      <input type="date" id="date-input" name="date" [(ngModel)]="joggingInfo.date" class="form-control" />
    </div>
    <div class="form-group">
      <label for="distance-input">Distance (mi)</label>
      <input type="number" id="distance-input" name="distanceInMiles "[(ngModel)]="joggingInfo.distanceInMiles" class="form-control" />
    </div>
    <div class="form-group">
      <label for="time-input">Time (mins)</label>
      <input type="number" id="time-input" name="timeInMinutes" [(ngModel)]="joggingInfo.timeInMinutes" class="form-control" />
    </div>
    <button type="button" class="btn btn-primary" (click)="addOrUpdateJoggingRecord($event);">Save</button>

  </form>
</div>
